body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    background-color: #F3F1FF;

}
main{
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-left: 200px;
}
.container{
    display: flex;
    width: 870px;
    padding: 50px;
    background-color: #FFFFFF;
   margin-top: 30px;
   border-radius: 50px;
   margin-left: 5px;
   padding-left: 10px;
}
.header-influ{
    font-size: 25px;
    margin-left: 10%;

}
 .half-width h2{
    font-size: 35px;
    margin-right: 16%;
    margin-left: 5%;
    font-weight:800;
}
nav{
    margin-top: 5px;
    
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    float: right;
    margin-right: 35px;
   margin-top: 3px;
    
    
}


.anchor-button{
    text-decoration: none;
    background-color: rgb(216, 87, 115);
    padding: 10px 30px;
    border-radius: 25px;
    margin-bottom: 10px;
   color: whitesmoke;
    
}

.half-width{
    width: 70%;
    padding-left:1px;
    padding-right:5px;
    margin-left: 2%;
    margin-top: 10px;
    
   
    
}
.half-width img{
    width: 70%;
    margin-right:2%;
    margin-top: 10px;
    padding-top: 2%;
    background-color:wheat ;
    border-radius: 60%;
    transition-property: width;
    transition-duration: 2s;
    
}
.half-width img:hover{
    width:80%;
}
.equipment-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:20px;
   
   


}
.equipment-blogs {
    border-radius: 5px;
    
}


.Influencer-equipment h2{
    text-align: center;
    padding-left:20px;

}
.equipment-blogs .equipment-banner img{
  padding-right:20px;
    width:224px;
    height: 144px;
}
.equipment-info{
    padding-right: 20px;
}
.equipment-detail{
    display: flex;
    align-items: center;
}
.fa-star.filled{
    color: #ffC014;
}
.fa-star .empty{
    color:#AEAEAE;
}
.text {
    
    padding-right:50px;
    color:rgb(216, 87, 115);
    
}
footer{
    background-color: cornsilk;
    text-align: center;
    
}
.footer-influ {
    font-size: 25px;
    
}

